@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Open+Sans&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* creating color variables i will use */

:root {
  --white-color: #f8fafc;
  --black-color: #020617;
  --dashboard-color: #334155;
  --backgound-color: #e2e8f0;
}
/* add background and main font */

body {
  background-color: var(--backgound-color);
  font-family: "Roboto", sans-serif;
}

/* add the final grid  final template for the entire page*/

.mainContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: 220px 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "dashboard nav nav nav"
    "dashboard main main side"
    "dashboard main main side"
    "dashboard main main side";
}

.leftContainer {
  background-color: var(--dashboard-color);
  grid-area: dashboard;
  color: var(--white-color);
  fill: var(--white-color);
  display: grid;
  grid-template-rows: 20px 1fr 1fr;
  gap: 50px;
  font-size: 13px;
  padding: 20px;
}

.dashboard-logo {
  height: 40px;
}

svg {
  height: 25px;
}

.firstBatch {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(1, 40px);
}

.secondBatch {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(6, 40px);
  gap: 10px;
}

.thirdBatch {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(3, 40px);
  gap: 5px;
}

.leftContainer h3,
svg,
h2 {
  align-self: center;
}

/* the right container adjastments  */
.rightContainer {
  height: 95vh;
  display: grid;
  grid-template-rows: 120px 40px 1fr;
}

/* navbar adjastments here */

.navBar {
  background-color: var(--white-color);
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.navTop {
  display: grid;
  grid-template-columns: 1fr 20px 600px 30px 30px 150px;
  gap: 10px;
  align-content: center;
  justify-content: end;
}

.navTop > * {
  align-self: center;
}

.xheroLogo {
  background-color: var(--dashboard-color);
  height: 30px;
  border-radius: 50%;
  border: 3px solid var(--dashboard-color);
  fill: var(--white-color);
}

input {
  border-radius: 10px;
  background-color: var(--backgound-color);
  height: 20px;
  border-color: var(--dashboard-color);
}

.yourProject {
  padding: 20px;
}

.date {
  display: flex;
  justify-content: center;
}

.navBottom {
  display: grid;
  grid-template-columns: 60px 650px 120px 120px 120px;
  gap: 30px;
  padding-left: 30px;
}
.navBottom > * {
  align-self: center;
}

.navBottom .xheroLogo {
  height: 50px;
}

.navBottom button {
  background-color: var(--dashboard-color);
  color: var(--white-color);
  padding: 10px 50px 10px 50px;
  border-radius: 19px;
  justify-self: center;
}

.mainSection {
  height: 100%;
  background-color: var(--backgound-color);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  margin: 15px;
}
.mainLeft {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}
.mainLeft > div {
  background-color: var(--white-color);
  border-left: 9px solid var(--dashboard-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mainRight {
  display: grid;
  grid-template-rows: 1fr 30px 1fr;
  gap: 5px;
}
.mainRight > div {
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#tredingText {
  display: grid;
  background-color: var(--backgound-color);
  box-shadow: none;
  text-align: center;
  align-content: end;
}

.mainLeft .card {
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 0 15px;
  align-items: end;
}

.mainLeft .card :nth-child(2) {
  align-self: center;
  justify-self: end;
}
.news {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
}

.friends {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  width: 300px;
  align-self: center;
  justify-self: center;
  border-right: 9px solid var(--dashboard-color);
  border-bottom: 9px solid var(--dashboard-color);
}

.friends > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.friends img {
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--dashboard-color);
}
